#active_deck {
    margin-left: 20px;
}

#active_deck__container {
    margin: 10px;
    /* border: 2px solid lightgray;
    border-radius: 10px; */
    /* padding: 20px; */
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.active_deck__header {
    font-family: "Beleren Bold", "Matrix Bold", Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.active_deck__img {
    width: 16px;
    margin-right: 8px;
}

/* #active_deck__data {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    width: 600px;
    max-width: 100%;
    min-width: 90%;
    padding: 5px;
    margin-bottom: 15px;
} 

.active_deck__img {
    width: 20px;
    margin-right: 5px;
} */
/* 
.active_deck__deckname,
.active_deck__commander {
    width: 300px;
    font-family: "Beleren Bold", "Matrix Bold", Helvetica, sans-serif;
    font-size: 20px;
} */

#active_deck__statistics {
    margin: 10px;
}

#active_deck__statistics_number {
    display: flex;
    flex-direction: row;
}

#active_deck__statistics_number div {
    width: 300px;
}
