.table_decks {
    width: 600px;
    max-width: 60%;
    min-width: 40%;
    margin: 10px;
    /* flex-basis: 60%; */
    margin-right: 50px;
    /* background-color: blue; */
    /* border: 10px solid black; */
    /* height: 100%;
    overflow-y: scroll; */
}

.table_decks__players {
    margin: 20px 10px 10px 10px;
    font-family: "Beleren Bold", "Matrix Bold", Helvetica, sans-serif;
    font-size: 24px;
}