.headline_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 20px 30px 20px;
}

.headline {
    font-family: "Beleren Bold", "Matrix Bold", Helvetica, sans-serif;
    font-size: 28pt;
    /* font-size: 16pt;
    font-weight: bold; */
}

#deck_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    column-gap: 50px;
    margin: 10px;
}

#deck_plus_button {
    font-size: 18px;
    font-size: bold;
    cursor: pointer;
    padding: 2px 5px 0px 5px;
    border: 1px solid rgb(228, 93, 59);
    background-color: rgb(228, 93, 59);
    color: white;
    border-radius: 3px;
    margin-left: 10px;
}

#deck_plus_button:hover,
#deck_plus_button:active {
    background-color: rgb(226, 143, 122);
    border-color: rgb(226, 143, 122);
    cursor: pointer;
} 
